@using System.Web;
@using TallyJ.Code.Enumerations
@using TallyJ.Code
@using TallyJ.Code.Session
@using TallyJ.EF
@using TallyJ.CoreModels
@inherits RazorEngine.Templating.TemplateBase
@{
  var election = UserSession.CurrentElection;
  var people = new PersonCacher().AllForThisElection.Where(p => p.CanVote.GetValueOrDefault()).ToList();
  var locations = new LocationCacher().AllForThisElection
    .GroupJoin(people, l => l.LocationGuid, p => p.VotingLocationGuid, (l, pList) => new { l, pList })
    .Select(g => new
    {
      LocationName = g.l.Name,
      Total = g.pList.Count(),
      Voted = g.pList.Count(x => !string.IsNullOrEmpty(x.VotingMethod)),
      InPerson = g.pList.Count(x => x.VotingMethod == VotingMethodEnum.InPerson.ToString()),
      DroppedOff = g.pList.Count(x => x.VotingMethod == VotingMethodEnum.DroppedOff.ToString()),
      MailedIn = g.pList.Count(x => x.VotingMethod == VotingMethodEnum.MailedIn.ToString()),
      CalledIn = g.pList.Count(x => x.VotingMethod == VotingMethodEnum.CalledIn.ToString()),
      Custom1 = g.pList.Count(p => p.VotingMethod == VotingMethodEnum.Custom1.ToString()),
      Custom2 = g.pList.Count(p => p.VotingMethod == VotingMethodEnum.Custom2.ToString()),
      Custom3 = g.pList.Count(p => p.VotingMethod == VotingMethodEnum.Custom3.ToString()),
      Online = g.pList.Count(x => x.VotingMethod == VotingMethodEnum.Online.ToString()),
      Imported = g.pList.Count(x => x.VotingMethod == VotingMethodEnum.Imported.ToString()),
    })
    .OrderBy(r => r.LocationName)
    .ToList();

  var total = new
  {
    Total = locations.Sum(a => a.Total),
    Voted = locations.Sum(a => a.Voted),
    InPerson = locations.Sum(a => a.InPerson),
    MailedIn = locations.Sum(a => a.MailedIn),
    DroppedOff = locations.Sum(a => a.DroppedOff),
    CalledIn = locations.Sum(a => a.CalledIn),
    Custom1 = locations.Sum(a => a.Custom1),
    Custom2 = locations.Sum(a => a.Custom2),
    Custom3 = locations.Sum(a => a.Custom3),
    Online = locations.Sum(a => a.Online),
    Imported = locations.Sum(a => a.Imported),
  };

  var showCalledIn = total.CalledIn.AsInt() > 0;
  var showCustom1 = total.Custom1.AsInt() > 0;
  var showCustom2 = total.Custom2.AsInt() > 0;
  var showCustom3 = total.Custom3.AsInt() > 0;
  var showOnline = total.Online.AsInt() > 0;
  var showImported = total.Imported.AsInt() > 0;
}
<style>
  .pct {
    color: #909090;
    font-size: 70%;
  }

  table.Areas {
    border-collapse: collapse;
  }

    table.Areas td,
    table.Areas th {
      border: 1px solid grey;
      padding: 0 4px;
      text-align: right;
    }

      table.Areas td.name, table.Areas th.name {
        text-align: left;
      }

    table.Areas tr.pct td {
      text-align: center;
    }

    table.Areas tr.total td {
      border-top: 3px double grey;
    }

  td.voted {
    background-color: #e7e7e7;
  }

  table.Areas tr.total td.name {
    font-weight: bold;
  }
</style>
<div class="body">
  <div class="reportHead">
    <h1 id="title"></h1>
    <div class="byTitle">
      <div>@UserSession.CurrentElectionName</div>
      <div id="titleDate"></div>
    </div>
  </div>
  <p class="Comment">
    Showing voting method by venue.
  </p>
  <table class="Areas">
    <thead>
      <tr>
        <th rowspan="2" class="name">Venue</th>
        <th>Voters</th>
        <th>In Person</th>
        <th>Mailed In</th>
        <th>Dropped Off</th>
        @if (showCalledIn)
        {
          <th>Called In</th>
        }
        @if (showCustom1)
        {
          <th>@election.Custom1Name</th>
        }
        @if (showCustom2)
        {
          <th>@election.Custom2Name</th>
        }
        @if (showCustom3)
        {
          <th>@election.Custom3Name</th>
        }@if (showOnline)
        {
          <th>Online</th>
        }
        @if (showImported)
        {
          <th>@VotingMethodEnum.Imported.DisplayText</th>
        }
      </tr>
      <tr class="pct">
        <td>(% of all voters)</td>
        <td colspan="@(3 + (showCalledIn ? 1 : 0)
                       + (showCustom1 ? 1 : 0)
                       + (showCustom2 ? 1 : 0)
                       + (showCustom3 ? 1 : 0)
                       + (showImported ? 1 : 0)
                       + (showOnline ? 1 : 0))">
          (% at venue)
        </td>
      </tr>
    </thead>
    <tbody>
      @if (locations.Count() > 0)
      {
        foreach (var loc in locations)
        {

          <tr class="area">
            <td class="name">@loc.LocationName</td>
            <td class="total">@loc.Total @(loc.Total.PercentInSpan(total.Total, 0, true))</td>
            <td class="method">@loc.InPerson @loc.InPerson.PercentInSpan(loc.Voted, -1, true)</td>
            <td class="method">@loc.MailedIn @loc.MailedIn.PercentInSpan(loc.Voted, -1, true)</td>
            <td class="method">@loc.DroppedOff @loc.DroppedOff.PercentInSpan(loc.Voted, -1, true)</td>
            @if (showCalledIn)
            {
              <td class="method">@loc.CalledIn @loc.CalledIn.PercentInSpan(loc.Voted, -1, true)</td>
            }
            @if (showCustom1)
            {
              <td class="method">@loc.Custom1 @loc.Custom1.PercentInSpan(loc.Voted, -1, true)</td>
            }
            @if (showCustom2)
            {
              <td class="method">@loc.Custom2 @loc.Custom2.PercentInSpan(loc.Voted, -1, true)</td>
            }
            @if (showCustom3)
            {
              <td class="method">@loc.Custom3 @loc.Custom3.PercentInSpan(loc.Voted, -1, true)</td>
            }
            @if (showOnline)
            {
              <td class="method">@loc.Online @loc.Online.PercentInSpan(loc.Voted, -1, true)</td>
            }
            @if (showImported)
            {
              <td class="method">@loc.Imported @loc.Imported.PercentInSpan(loc.Voted, -1, true)</td>
            }
          </tr>
        }
        <tr class="total">
          <td class="name">Total</td>
          <td class="total">@total.Total @(total.Total.PercentInSpan(total.Total, 0, true))</td>
          <td class="method">@total.InPerson @total.InPerson.PercentInSpan(total.Voted, -1, true)</td>
          <td class="method">@total.MailedIn @total.MailedIn.PercentInSpan(total.Voted, -1, true)</td>
          <td class="method">@total.DroppedOff @total.DroppedOff.PercentInSpan(total.Voted, -1, true)</td>
          @if (showCalledIn)
          {
            <td class="method">@total.CalledIn @total.CalledIn.PercentInSpan(total.Voted, -1, true)</td>
          }
          @if (showCustom1)
          {
            <td class="method">@total.Custom1 @total.Custom1.PercentInSpan(total.Voted, -1, true)</td>
          }
          @if (showCustom2)
          {
            <td class="method">@total.Custom2 @total.Custom2.PercentInSpan(total.Voted, -1, true)</td>
          }
          @if (showCustom3)
          {
            <td class="method">@total.Custom3 @total.Custom3.PercentInSpan(total.Voted, -1, true)</td>
          }
          @if (showOnline)
          {
            <td class="method">@total.Online @total.Online.PercentInSpan(total.Voted, -1, true)</td>
          }
          @if (showImported)
          {
            <td class="method">@total.Imported @total.Imported.PercentInSpan(total.Voted, -1, true)</td>
          }
        </tr>
      }
    </tbody>
  </table>

</div>