@model PeopleModel
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
  ViewBag.Title = "Front Desk";
  ViewBag.Message = "Record who is voting...";

  var ballotProcess = UserSession.CurrentElection.BallotProcessRaw;
  var ballotProcessEnum = UserSession.CurrentElection.BallotProcess;

  var inPersonName = "In Person";

  switch (ballotProcessEnum)
  {
    case TallyJ.EF.BallotProcessEnum.RegV:
      inPersonName = "Ballot Received";
      break;
  }

  ContextItems.AddJavascriptForPage("url", "frontDeskPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("lastrow", "frontDeskPage.lastRowVersion={0};".FilledWith(Model.LastRowVersion));
  //ContextItems.AddJavascriptForPage("people", "frontDeskPage.initial={0};".FilledWith(Model.FrontDeskPersonLines().SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("people", "frontDeskPage.ballotProcess={0};".FilledWith(ballotProcess.QuotedForJavascript()));

}
<div class="PullInstructionsHandle btn btn-mini">Instructions & Tips</div>
<div class="PullInstructions">
  <ol>
    <li>To quickly find a person, begin to type any part of the name or Bahá'í ID of the person you are looking for into the Search Box. Use the Up/Down arrow keys to move to the correct person, then press the Enter key to focus on them.</li>
    <li>A count of people with each status is shown at the top. Click on one to filter the list to that status. Press or click Esc to remove the filter.</li>
    @{
      switch (ballotProcessEnum)
      {
        case TallyJ.EF.BallotProcessEnum.Roll:
          <li>
            Mark people as "@inPersonName" as they arrive at the election venue if they intend to cast their own ballot when
            the Roll Call is done.
          </li>
          break;
        case TallyJ.EF.BallotProcessEnum.RegV:
          <li>
            Mark people as "Registered" as they arrive at the election venue if they intend to stay and cast their own ballot. When
            they return to a teller to deposit their ballot, mark them as "@inPersonName"
          </li>
          break;
        case TallyJ.EF.BallotProcessEnum.RegC:
          <li>
            Mark people as "@inPersonName" when they register with a teller and deposit their ballot.
          </li>
          break;
      }
    }
  </ol>
</div>
<div class="SearchArea">
  <span><u>S</u>earch box: </span>
  <input accesskey="S" id="search">
  <span class="info fakeEsc">(Esc to clear)</span>
</div>
<div class="Counts @(UserSession.CurrentElection.UseCallInButton.AsBoolean() ? "UseCallIn" : "") @(UserSession.UsingOnlineElection ? "UseOnline" : "")">
  <div class="Online" data-status="Online" title="Click to filter the list">
    Online
    <i>0</i>
  </div>
  <div class="CalledIn" data-status="CalledIn" title="Click to filter the list">
    Called In
    <i>0</i>
  </div>
  <div class="MailedIn" data-status="MailedIn" title="Click to filter the list">
    Mailed In
    <i>0</i>
  </div>
  <div class="DroppedOff" data-status="DroppedOff" title="Click to filter the list">
    Dropped Off
    <i>0</i>
  </div>
  @if (ballotProcessEnum == TallyJ.EF.BallotProcessEnum.RegV)
  {
    <div class="Registered" data-status="Registered" title="Click to filter the list">
      Registered
      <i>0</i>
    </div>
  }
  <div class="InPerson" data-status="InPerson" title="Click to filter the list">
    @inPersonName
    <i>0</i>
  </div>
  <div class="Total" data-status="Total" title="Click to filter the list">
    Total
    <i>0</i>
  </div>
  <span class="Other">
    Other <i>0</i>
  </span>
</div>
<div id="Main" class="@(new[] {ContextItems.LocationModel.HasLocations ? "WithArea" : "",
                          UserSession.CurrentElection.UseCallInButton.AsBoolean() ? "UseCallIn" : "",
                          UserSession.UsingOnlineElection ? "UseOnline" : "",
                          "EnvMode-" + UserSession.CurrentElection.EnvNumModeRaw }.JoinedAsString(" "))">
  <div id="selectorTip">
    Type the first letter of a button to click it. Press Esc or Enter when done.
  </div>
</div>
<div id="afterList"></div>

<script type="text/x-template" id="frontDeskLineTemplate">
  <div id="P{PersonId}" class="Voter VM-{VotingMethod} {extraClass}" data-name="{NameLower}">
    <div class="Btn Online {Online} Has{HasOnline}">Online</div>
    <div class="Btn CalledIn {CalledIn}">Called In</div>
    <div class="Btn MailedIn {MailedIn}">Mailed In</div>
    <div class="Btn DroppedOff {DroppedOff}">Dropped Off</div>
    <div class="Env">{EnvNum}</div>
    @switch (ballotProcessEnum)
    {
      case TallyJ.EF.BallotProcessEnum.RegV:
        <div class="Btn Registered {Registered}">Registered</div>
        break;
    }
    <div class="Btn InPerson {InPerson}">@inPersonName</div>
    <b>{FullName}</b>
    <p>{BahaiId}</p>
    <u title="Lives in">{Area}</u>
    <i>{^VotedAt}</i>
  </div>
</script>