@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@{
    ContextItems.AddJavascriptForPage("time", "site.timeOffset={0};".FilledWith(UserSession.TimeOffset.SerializedAsJsonString()));
    ContextItems.AddJavascriptForPage("timeKnown", "site.timeOffsetKnown={0};".FilledWith(UserSession.TimeOffsetKnown.SerializedAsJsonString()));
    ContextItems.AddJavascriptForPage("rootUrl", "site.rootUrl='{0}';".FilledWith(@Url.Content("~")));
    var currentMenu = new MenuHelper(this);
    var locationHelper = new LocationHelper();
    var tellerHelper = new TellerHelper();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @RenderPage("Headers.cshtml")
    <title>TallyJ - @(ViewBag.Caption ?? ViewBag.Title)</title>
    <link rel="shortcut icon" href="@Url.Content("~/Images/favicon.ico")">
    <link rel="publisher" href="https://plus.google.com/109176504285792009711">
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1312528-6']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body class="@ControllerActionNames @(ScreenMode + "Mode") @AuthLevel">
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                @{
                    if (Request.IsAuthenticated)
                    {
                    @Html.ActionLink(" ", "Index", "Dashboard", null, new
                                                                        {
                                                                            Class = "site-title",
                                                                            title = "Go to Dashboard"
                                                                        })
                    }
                    else
                    {
                    @Html.ActionLink(" ", "Index", "Public", null, new
                                                                     {
                                                                         Class = "site-title",
                                                                         title = "Go to Welcome Page"
                                                                     })
                    }
                }
                <div class="Version">
                    Version: 2.00</div>
            </div>
            @if (ScreenMode == "Normal")
            {
                <div class="beta1">
                    <div class="betaImg">
                    </div>
                    TallyJ is in final test mode. Please send feedback to <a title="Send email to Glen"
                        href="mailto:glen.little@gmail.com">Glen Little</a> and refer to <a title="View document"
                            href="https://docs.google.com/document/d/1GiapKWev6zJBN8q7upssJcId4dblNxrk-ErOmHgLczA/edit"
                            target="gdoc">this document</a> for status updates!
                </div> 
            }
            <div class="float-left TopInfo">
                @if (Request.IsAuthenticated)
                {
                    <div class="CurrentElectionName">@UserSession.CurrentElectionName</div>
                    <div class="Heartbeat">
                        Connected</div>
                }
            </div>
            @if (ScreenMode != "Full")
            {
                if (ScreenMode == "Mini")
                {
                <ul class="sf-menu">
                    @currentMenu.InsertMenu()
                </ul>
                    if (currentMenu.ShowLocationSelection || currentMenu.ShowTellerSelector)
                    {
                <div class="CurrentInfo">
                    @if (currentMenu.ShowLocationSelection)
                    {
                        <label for="ddlTopLocation">
                            Location:
                        </label>
                        <select id="ddlTopLocation" class="TopLocation" @locationHelper.ShowDisabled>
                            @locationHelper.GetLocationOptions()
                        </select>
                        <label>
                            Computer:</label>
                        <select disabled>
                            <option>@UserSession.CurrentComputerCode</option>
                        </select>
                        <br />
                    }
                    @if (currentMenu.ShowTellerSelector)
                    {
                        <label for="ddlTopTeller1">
                            Teller at keyboard:</label>
                        <select id="ddlTopTeller1" class="TopTeller">
                            @tellerHelper.GetTellerOptions(1).AsRawHtml()
                        </select>
                        <label for="ddlTopTeller2">
                            Assisting:</label>
                        <select id="ddlTopTeller2" class="TopTeller">
                            @tellerHelper.GetTellerOptions(2).AsRawHtml()
                        </select>
                    }
                </div>
                    }
                }
            }
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", false)
        <section class="content-wrapper main-content clear-fix">
            <div class="PageTitle">@currentMenu.CurrentMenuTitle</div>
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>
                    &copy; @DateTime.Now.Year Glen Little</p>
            </div>
            <div class="float-right">
                <ul id="social">
                    <li><a tabindex="-1" target="facebook" href="http://www.facebook.com/TallyJ.Support"
                        class="facebook" title="Go to the TallyJ Support page">Facebook</a></li>
                    <li><a tabindex="-1" target="twitter" href="http://twitter.com/#!/tallyj_bahai" class="twitter"
                        title="View news from #TallyJ_Bahai">Twitter</a></li>
                    <li><a tabindex="-1" target="gplus" class="gplus" title="Go to TallyJ on Google+"
                        href="https://plus.google.com/109176504285792009711?prsrc=3" style="text-decoration: none;">
                        Google+</a></li>
                </ul>
            </div>
        </div>
    </footer>
    @ContextItems.GetJavascriptForPage()
</body>
</html>
