@using System.Xml
@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@using TallyJ.Code
@using TallyJ.EF
@{
  ContextItems.AddJavascriptForPage("test1", "site.testTime={0};".FilledWith(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss zzz").SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("time", "site.timeOffset={0};".FilledWith(UserSession.TimeOffsetServerAhead.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("timeKnown", "site.timeOffsetKnown={0};".FilledWith(UserSession.TimeOffsetKnown.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("rootUrl", "site.rootUrl='{0}';".FilledWith(Url.Content("~")));
  ContextItems.AddJavascriptForPage("page", "site.context='{0}';".FilledWith(ControllerActionNamesJoined));
  ContextItems.AddJavascriptForPage("electionGuid", "site.electionGuid='{0}';".FilledWith(UserSession.CurrentElectionGuid == Guid.Empty ? "" : UserSession.CurrentElectionGuid.ToString()));
  ContextItems.AddJavascriptForPage("electionState", "site.electionState='{0}';".FilledWith(UserSession.CurrentElectionStatus));
  var currentMenu = new MenuHelper(Url);
  var tellerHelper = new TellerHelper();
}<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta http-equiv='content-language' content='en'>
  <title>TallyJ - @(ViewBag.Title ?? currentMenu.CurrentPageTitle ?? ViewBag.Caption)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msvalidate.01" content="BDA801FC5063E31B10FDB52B7C0ADC14">
  @RenderSection("Metas", false)
  @RenderPage("Headers.cshtml")
  <meta name="description" content="Baha'i Election System'" />
</head>
<body class="@ControllerActionNamesJoined @(ScreenMode + "Mode") Auth@(UserSession.AuthLevel)">
  <header>
    <div class="content-wrapper">
      <div class="MainTop">
        <h1 class="SeoH1">TallyJ - Bahá’í Election Tool</h1>
        @{
          if (Request.IsAuthenticated)
          {
            <a href="@Url.Action("Index", "Public")" class="site-title" title="Go to Welcome Page">
              @*<span>Dashboard</span>*@
            </a>
          }
          else
          {
            @Html.ActionLink(" ", "Index", "Public", null, new
       {
         Class = "site-title",
         alt = "TallyJ - Bahá’í Election Tool"
       })
          }
        }
        <div class="Version">
          @RenderPage("Version.cshtml")
        </div>
      </div>
      @if (ScreenMode == "Normal")
      {
        <div class="beta1">
          @*<div class="betaImg">
            </div>*@
          TallyJ is ready for use! Please send feedback to
          <a title="Send email to Glen"
             href="mailto:glen.little@gmail.com">Glen Little</a> and refer to the
          <a title="View document"
             href="https://docs.google.com/document/d/1GiapKWev6zJBN8q7upssJcId4dblNxrk-ErOmHgLczA/pub"
             target="gdoc">Status and Feedback</a> document for current updates!
        </div>
      }
      @if (Request.IsAuthenticated)
      {
        var publicInfo = UserSession.CurrentElection != null ? new PublicElectionLister().PublicElectionInfo(UserSession.CurrentElection.C_RowId) : null;

        @*        <div id="MasterMenu" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">*@
        @*          @Html.Partial("MasterMenu")*@
        @*        </div>*@
        <div class="TopInfo">
          <span class="CurrentElectionName" title="Election Name">
            @UserSession.CurrentElectionDisplayNameAndInfo
          </span>
          @if (publicInfo != null)
          {
            <span class="publicInfo topArea"><span class="ui-icon ui-icon-info" id="qTipPasscode"></span>open</span>
            <script>
              site.qTips.push({ selector: '#qTipPasscode', title: 'Election Open for Tellers', text: 'Tellers can join this election using the pass code <b>"@publicInfo.Passcode.Replace("'", "\\'")"</b> on the home page.' });
            </script>
          }
          @if (UserSession.CurrentElection != null)
          {
            <div class="ElectionState">
              <span>Election State:</span><span class="ui-icon ui-icon-info" id="qTipElectionStatus"></span><span>:</span>
              <ol id="electionState"
                  title="@(UserSession.IsKnownTeller ? "Change state" : "Current election status (set by head teller)")"
                  data-state="@UserSession.CurrentElectionStatus">
                @currentMenu.StateSelectorItems()
              </ol>

              @*<a href="#MasterMenu" class="ShowMasterMenu" data-toggle="modal">Go to any page...</a>*@
            </div>
            <div class="QuickLinks2">
              <div class="left">
                <span id="qmenuTitle">Relevant Pages</span><span class="ui-icon ui-icon-info" id="qTipQuickLinks"></span>:
              </div>
              <div class="right">
                <span id="quickLinks2">@currentMenu.QuickLinks().AsRawHtml()</span><span><a href="#" id="AllPages" title="Go to any page">All Pages</a></span>
              </div>
            </div>
            <div class="QuickDash">
              @Html.Partial("../Dashboard/DashItems", new ViewDataDictionary { { "ShowHomeLink", "Yes" } })
            </div>
          }
          else
          {
            <div class="Spacer"></div>
          }
        </div>
      }
      @if (ScreenMode != "Full")
      {
        if (ScreenMode == "Mini")
        {
          @*<ul class="sf-menu">
                @currentMenu.InsertMenu()
            </ul>*@
        }
      }
    </div>
  </header>







  <div id="body">
    @RenderSection("featured", false)
    @if (Request.Browser.Browser == "IE" && Request.Browser.MajorVersion < 9)
    {
      <div style="margin: 50px auto; padding: 50px; color: red">Sorry, older versions of Internet Explorer are not supported!  Please use Chrome or Firefox.</div>
    }
    else
    {
      <section class="content-wrapper main-content clear-fix">
        <div class="CompCode">@UserSession.CurrentComputerCode</div>
        @*<div class="PageTitle">@currentMenu.CurrentMenuTitle</div>*@
        @{
          var showLocationSelector = ContextItems.LocationModel.ShowLocationSelector(currentMenu);
          var showTellerSelector = currentMenu.ShowTellerSelector;
        }
        @if (showLocationSelector || showTellerSelector)
        {
          <div class="CurrentInfo">
            @if (showLocationSelector)
            {
              <label for="ddlTopLocation">
                Location:
                <select id="ddlTopLocation" class="TopLocation input-medium" @ContextItems.LocationModel.ShowDisabled>
                  @ContextItems.LocationModel.GetLocationOptions()
                </select>
                <span class="ui-icon ui-icon-info" id="qTipTopLocation"></span>
              </label>
              @*<label>
                  Computer:</label>
                <select disabled>
                  <option>@UserSession.CurrentComputerCode</option>
                </select>*@
            }
            @if (showTellerSelector)
            {
              <label for="ddlTopTeller1">
                Teller at keyboard:
                <select id="ddlTopTeller1" class="TopTeller input-medium">
                  @tellerHelper.GetTellerOptions(1).AsRawHtml()
                </select>
                <span class="ui-icon ui-icon-info" id="qTipTeller"></span>
              </label>
              <label for="ddlTopTeller2">
                Assisting:
                <select id="ddlTopTeller2" class="TopTeller input-medium">
                  @tellerHelper.GetTellerOptions(2).AsRawHtml()
                </select>
              </label>
            }
          </div>
        }
        @RenderBody()
      </section>
          }
  </div>
  @RenderPage("Footer.cshtml")

</body>
</html>
