@using System.Xml
@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@using TallyJ.Code
@{
    ContextItems.AddJavascriptForPage("test1", "site.testTime={0};".FilledWith(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss zzz").SerializedAsJsonString()));
    ContextItems.AddJavascriptForPage("time", "site.timeOffset={0};".FilledWith(UserSession.TimeOffset.SerializedAsJsonString()));
    ContextItems.AddJavascriptForPage("timeKnown", "site.timeOffsetKnown={0};".FilledWith(UserSession.TimeOffsetKnown.SerializedAsJsonString()));
    ContextItems.AddJavascriptForPage("rootUrl", "site.rootUrl='{0}';".FilledWith(Url.Content("~")));
    ContextItems.AddJavascriptForPage("pulse", "site.firstPulse='{0}';".FilledWith(new PulseModel(Url).Pulse()));
    var currentMenu = new MenuHelper(Url);
    var locationHelper = new LocationHelper();
    var tellerHelper = new TellerHelper();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @RenderPage("Headers.cshtml")
    <title>TallyJ - @(currentMenu.CurrentPageTitle ?? ViewBag.Caption ?? ViewBag.Title)
    </title>
    <link rel="shortcut icon" href="@Url.Content("~/Images/favicon.ico")">
    <link rel="publisher" href="https://plus.google.com/109176504285792009711">
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1312528-6']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body class="@ControllerActionNames @(ScreenMode + "Mode") @AuthLevel">
    <header>
        <div class="content-wrapper">
            <div class="MainTop">
                @{
                    if (Request.IsAuthenticated)
                    {
                    <a href="@Url.Action("Index", "Dashboard")" class="site-title" title="Go to Dashboard">
                        <span>Dashboard</span></a>
                    }
                    else
                    {
                    @Html.ActionLink(" ", "Index", "Public", null, new
               {
                   Class = "site-title",
                   title = "Go to Welcome Page"
               })
                    }
                }
              <div class="Version">
                Version: @RenderPage("Version.cshtml")</div>
            </div>
            @if (ScreenMode == "Normal")
            {
                <div class="beta1">
                    <div class="betaImg">
                    </div>
                    TallyJ is in final beta mode. Please send feedback to <a title="Send email to Glen"
                        href="mailto:glen.little@gmail.com">Glen Little</a> and refer to <a title="View document"
                            href="https://docs.google.com/document/d/1GiapKWev6zJBN8q7upssJcId4dblNxrk-ErOmHgLczA/edit"
                            target="gdoc">this document</a> for status updates!
                </div> 
            }
            @if (Request.IsAuthenticated)
            {
                <div class="float-left TopInfo">
                    <div class="CurrentElectionName" title="Election Name">@UserSession.CurrentElectionName</div>
                    @if (UserSession.CurrentElection != null)
                    {
                    <div class="ElectionState" data-status="@UserSession.CurrentElectionStatus">
                        Election Status<span class="ui-icon ui-icon-info" id="qTipElectionStatus"></span>:
                        <span class="AllowChangeElectionState bold">@UserSession.CurrentElectionStatusName</span></div>
                    <div class="ChangeElectionState">
                        <p>
                            Change the election status to:</p>
                        <select id="ddlElectionStatus" size="@ElectionTallyStatusEnum.Count">
                            @ElectionTallyStatusEnum.ForHtmlSelect(UserSession.CurrentElection)
                        </select>
                    </div>
                    <div class="QuickLinks2">
                        Quick Links<span class="ui-icon ui-icon-info" id="qTipQuickLinks"></span>: <span
                            id="quickLinks2">@currentMenu.QuickLinks().AsRawHtml()</span>
                    </div>
                    @*                    <ul class="QuickLinks">
                        <li>Pages <span class="ui-icon QuickLinkIcon"></span>
                            <ul>
                                @currentMenu.QuickLinks().AsRawHtml()
                            </ul>
                        </li>
                    </ul>
                                        <div class="Heartbeat">
                    </div>
*@ }
                    else
                    {
                        <div class="Spacer"></div>
                    }
                </div>
            }
            @if (ScreenMode != "Full")
            {
                if (ScreenMode == "Mini")
                {
@*<ul class="sf-menu">
                    @currentMenu.InsertMenu()
                </ul>*@
                
                
                    if (currentMenu.ShowLocationSelection || currentMenu.ShowTellerSelector)
                    {
                <div class="CurrentInfo">
                    @if (false && currentMenu.ShowLocationSelection)
                    {
                        <label for="ddlTopLocation">
                            Location:
                        </label>
                        <select id="ddlTopLocation" class="TopLocation" @locationHelper.ShowDisabled>
                            @locationHelper.GetLocationOptions()
                        </select>
                        <label>
                            Computer:</label>
                        <select disabled>
                            <option>@UserSession.CurrentComputerCode</option>
                        </select>
                    }
                    @if (currentMenu.ShowTellerSelector)
                    {
                        <label for="ddlTopTeller1">
                            Teller at keyboard:</label>
                        <select id="ddlTopTeller1" class="TopTeller">
                            @tellerHelper.GetTellerOptions(1).AsRawHtml()
                        </select>
                        <label for="ddlTopTeller2">
                            Assisting:</label>
                        <select id="ddlTopTeller2" class="TopTeller">
                            @tellerHelper.GetTellerOptions(2).AsRawHtml()
                        </select>
                    }
                </div>
                    }
                }
            }
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", false)
        <section class="content-wrapper main-content clear-fix">
            <div class="PageTitle">@currentMenu.CurrentMenuTitle</div>
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>
                    &copy; @DateTime.Now.Year Glen Little</p>
            </div>
            <div class="float-right">
                <ul id="social">
                    <li>
                        <link href="https://d3jyn100am7dxp.cloudfront.net/assets/widget_embed.cssgz?1334210082"
                            media="screen" rel="stylesheet" type="text/css" />
                        <script src="https://d3jyn100am7dxp.cloudfront.net/assets/widget_embed_libraries.jsgz?1334210083"
                            type="text/javascript"></script>
                        <script>

                            // ********************************************************************************
                            // This needs to be placed in the document body where you want the widget to render
                            // ********************************************************************************
                            try {
                                new DESK.Widget({
                                    version: 1,
                                    site: 'tallyj.desk.com',
                                    port: '80',
                                    type: 'chat',
                                    displayMode: 1,  //0 for popup, 1 for lightbox
                                    features: {
                                        offerAlways: false,
                                        offerAgentsOnline: true,
                                        offerRoutingAgentsAvailable: false,
                                        offerEmailIfChatUnavailable: true
                                    },
                                    fields: {
                                        ticket: {

                                            // desc: '',
                                            // labels_new: '',
                                            // priority: '',
                                            // subject: ''
                                        },
                                        interaction: {
                                            email: @UserSession.MemberEmail.QuotedForJavascript().AsRawHtml(),
                                            name: @UserSession.MemberName.QuotedForJavascript().AsRawHtml()
                                        },
                                        chat: {

                                            //subject: '' 
                                        },
                                        customer: {

                                            // company: '',
                                            // desc: '',
                                            // first_name: '',
                                            // last_name: '',
                                            // locale_code: '',
                                            // title: ''
                                        }
                                    }
                                }).render();
                            } catch (ex) {
                                LogMessage(ex);
                            }
                        </script>
                    </li>
                    <li><a tabindex="-1" target="facebook" href="http://www.facebook.com/TallyJ.Support"
                        class="facebook" title="Go to the TallyJ Support page"></a></li>
                    <li><a tabindex="-1" target="twitter" href="http://twitter.com/#!/tallyj_bahai" class="twitter"
                        title="View news from #TallyJ_Bahai"></a></li>
                    <li><a tabindex="-1" target="gplus" class="gplus" title="Go to TallyJ on Google+"
                        href="https://plus.google.com/109176504285792009711?prsrc=3" style="text-decoration: none;">
                    </a></li>
                </ul>
            </div>
        </div>
    </footer>
    @ContextItems.GetJavascriptForPage()
</body>
</html>
