@using TallyJ.Code.Session
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Setup", "Index", "Setup")
        @Html.ActionLink("People", "People", "Setup")
        @Html.ActionLink("Location", "ChooseElection", "Dashboard")
        @Html.ActionLink("Ballots", "Index", "Ballots")
        @Html.ActionLink("Monitor", "Monitor", "After")
        @Html.ActionLink("Review", "Analyze", "After")
        @Html.ActionLink("Report", "Presenter", "After")
        @Html.ActionLink("Dashboard", "Index", "Dashboard")
        @if(UserSession.IsKnownTeller)
        {
            @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account");
        }
        @Html.ActionLink("Log Off", "LogOff", "Account")
    </p>
}
else
{
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Public")</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new
   {
     id = "registerLink",
     data_dialog_title = "Registration"
   })</li>
        <li>@Html.ActionLink("Log on", "LogOn", "Account", routeValues: null, htmlAttributes: new
   {
     id = "logonLink",
     data_dialog_title = "Identification"
   })</li>
    </ul>
}
