@using TallyJ.Code.Session
<footer>
  <div class="content-wrapper">
    <div class="copyright" title="Running on @Environment.MachineName - @UserSession.CurrentElectionGuid">
      &copy; @DateTime.Now.Year Glen Little
    </div>
    <div class="helpLink">
      <span title="Last updated: @TallyJ.Properties.Settings.Default.VersionDate">Version: @TallyJ.Properties.Settings.Default.VersionNum</span>
    </div>
    <div class="helpLink">
      <a title="View document"
         href="https://docs.google.com/document/d/1mlxI_5HWyt-zdr0EyGPzrScInqUXhA5WbT7d0Mb7gJQ/view"
         target="gdoc">Status & Feedback Document</a>
    </div>
    <div class="float-right">
      <ul id="social">
        <li>
          <a tabindex="-1" target="facebook" href="https://www.facebook.com/TallyJ.Support"
             class="facebook" title="Go to the TallyJ Support page"></a>
        </li>
        <li>
          <a tabindex="-1" target="twitter" href="https://twitter.com/tallyj_bahai" class="twitter"
             title="View news from #TallyJ_Bahai"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
