@using System.Xml
@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div>
        Other Pages
    </div>
</div>
<div class="modal-body">
    
  @{
    var menuHelper = new MenuHelper(this.Url);
  }
  @foreach (XmlElement item in menuHelper.TrimmedMenu().ChildNodes)
    {
        var started = false;
        <section class="mmSection">
            @foreach (var child in item.ChildNodes
                            .Cast<XmlNode>()
                            .Where(n => n.NodeType == XmlNodeType.Element)
                            .Cast<XmlElement>()
                            )
            {
                if (!started)
                {
                <h1 class="mmTitle">@item.GetAttribute("longtitle")</h1>
                    started = true;
                }
                <a data-when="@child.GetAttribute("featureWhen")" href="@Url.Action(child.GetAttribute("action"), child.GetAttribute("controller"))" class="@(menuHelper.IsFeatured(child.GetAttribute("featureWhen")) || child.GetAttribute("featureWhen") == "OnDash" ? "Featured" : "NotFeatured")">
                    <span class="mainmenu @child.GetAttribute("class") Role-@child.GetAttribute("role")">
                        @child.GetAttribute("title")
                    </span>
                </a>
            }
            <div class="Clear">
            </div>
        </section>
    }
</div>
