@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model ElectionsListViewModel
@{
  ViewBag.Title = "Elections";
  ViewBag.Message = "Select or create an election";

  ContextItems.AddJavascriptForPage("url1", "chooseElectionPage.electionsUrl={0};".FilledWith(@Url.Action("Index", "Elections").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("url2", "chooseElectionPage.loadElectionUrl={0};".FilledWith(@Url.Action("LoadV2Election", "Dashboard").QuotedForJavascript()));
  var electionsInfo = Model.MyElectionsInfo.ToList();
  ContextItems.AddJavascriptForPage("initial", "chooseElectionPage.elections={0};".FilledWith(electionsInfo.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("guest", "chooseElectionPage.isGuest={0};".FilledWith(UserSession.IsGuestTeller.SerializedAsJsonString()));
  TemplateLoader.RequireTemplates(TemplateLoader.File.LocationSelectItem, TemplateLoader.File.ElectionListItem);
}
@section featured {
  <section class="featured empty"></section>
}
@*<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>*@
<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
<h3>Your Elections</h3>
<div id="ElectionList">
  <span>@electionsInfo.Count.Plural("Loading {0} elections".FilledWith(electionsInfo.Count), "Loading 1 election", "(none found)") ...</span>
</div>
@if (UserSession.IsKnownTeller)
{
  <h3 class="MakeNew">Preparing a New Election?</h3>
  <div class="Comment">You can start a new election, load a saved election, or import a copy from version 1.85 of TallyJ.</div>
  <ul class="MakeNewList">
    <li>
      Start a
      <button type="button" class="btn  btn-primary" id="btnCreate">New Election</button>
      <ul>
        <li class="Comment">Choose this if you plan to import a copy from version 1.85 of TallyJ.</li>
      </ul>
    </li>
    <li>
      <form name="formLoadFile" id="formLoadFile">
        <label for="loadFile">Load a previous Election from file saved from this page:</label>
        <input id="loadFile" name="loadFile" type="file" />
      </form>
    </li>
  </ul>
}
else
{
  <p>Sorry, no elections found. Please Log Off and try again.</p>
}
<p>@Html.ActionLink("Log Off", "Logoff", "Account")</p>
