@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model ElectionsListViewModel
@{
  ViewBag.Title = "Elections";
  ViewBag.Message = "Select or create an election";

  ContextItems.AddJavascriptForPage("electionListPage.electionsUrl={0};".FilledWith(@Url.Action("Index", "Elections").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("electionListPage.loadElectionUrl={0};".FilledWith(@Url.Action("LoadV2Election", "Dashboard").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("electionListPage.countsUrl={0};".FilledWith(@Url.Action("ElectionCounts", "Dashboard").QuotedForJavascript()));
  var electionsInfo = Model.MyElectionsInfo.ToList();
  ContextItems.AddJavascriptForPage("electionListPage.elections={0};".FilledWith(electionsInfo.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("electionListPage.isGuest={0};".FilledWith(UserSession.IsGuestTeller.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("electionListPage.importHubUrl={0};".FilledWith(@Url.Action("JoinImportHub", "Elections").QuotedForJavascript()));
}
@section featured {
}
@*<script src="@Url.Content("~/Scripts/fileuploader.js")" type="text/javascript"></script>*@
<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
  <h2>@ViewBag.Message</h2>
</hgroup>
@if (electionsInfo.Count > 0)
{
  <h3>Your Elections</h3>

  <div id="ElectionList">
    <span>@electionsInfo.Count.Plural("Loading {0} elections".FilledWith(electionsInfo.Count), "Loading 1 election", "(none found)") ...</span>
  </div>
}
@if (UserSession.IsKnownTeller)
{
  <h3 class="MakeNew">Preparing for an Election?</h3>
  <ul class="MakeNewList">
    <li>
      Start a new election:
      <button type="button" class="btn  btn-primary" id="btnCreate">New Election</button>
    </li>
    <li>
      <form name="formLoadFile" id="formLoadFile">
        <label for="loadFile">Or, load a previously saved Election file:</label>
        <input id="loadFile" name="loadFile" type="file" />
      </form>
      <div id="loadingLog">
        <div id="log"></div>
        <div id="tempLog"></div>
      </div>
    </li>
  </ul>
}
else
{
  <p>Sorry, no elections found. Please Log Out and try again.</p>
}
@if (UserSession.IsSysAdmin)
{
  <p>@Html.ActionLink("Sys Admin", "Index", "SysAdmin")</p>
}
<p>@Html.ActionLink("Log Out", "Logoff", "Account")</p>

<script type="text/x-template" id="electionListItem">
  <div class="Election {IsCurrent}{TestClass}{RowClass}" data-guid="{ElectionGuid}" id="el-{ElectionGuid}">
    <div class="Detail">
      {DateOfElection}
      <b>{Name}</b>
      <span class="Test">(TEST)</span>
      <i>{Type} {Mode}</i>
      <span class="numVoters"></span>
      <span class="notSingle"><span class="numBallots"></span></span>
      <span class="status">- {TallyStatus}</span>
      <div class="onlineCurrentlyOpen">{OnlineOpen}</div>
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-primary btnSelectElection">Open</button>
      <div class="btn-group">
        <button type="button" class="btn btn-info btn-mini btnExport" title="Export and download the complete election to a file on your computer">Save to File</button>
        <button type="button" class="btn btn-danger btn-mini btnDelete" title="Delete the election from this system">Remove</button>
      </div>
    </div>
  </div>
</script>

<script type="text/x-template" id="locationSelectItem">
  <div class="{IsCurrent}">
    <button type="button" class="btnSelectLocation" data-id="{C_RowId}">Select</button>
    {Name}
  </div>
</script>