@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@model ElectionsListViewModel
@{
  ViewBag.Title = "Dashboard";
  ViewBag.Message = ("For election &nbsp; " + UserSession.CurrentElectionName).AsRawHtml();

  ContextItems.AddJavascriptForPage("homeIndexUrl", "homeIndexPage.electionsUrl={0};".FilledWith(@Url.Action("Index", "Elections").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("homeIndexPage", "homeIndexPage.elections={0};".FilledWith(Model.MyElectionsInfo.SerializedAsJson()));
  TemplateLoader.RequireTemplates(TemplateLoader.File.ElectionListItem);
}
@section featured {
  <section class="featured">
    <div class="content-wrapper">
      <hgroup class="title"><h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
        @*@Html.ActionLink("Change to different election", "ChooseElection", "Dashboard")*@
      </hgroup>
      <p>Select from the modules below. To get started, setup your Election. To learn more,
        please read more in the @Html.ActionLink("Reference Materials", "Learning", "Public"). </p>
    </div>
  </section>
}
<section class="features">
<a href="@Url.Action("ChooseElection", "Dashboard")"><section class="feature">
  <h3>Select Election</h3>
  <p>Select the election and/or location.</p>
</section></a> <a href="@Url.Action("Index", "Setup")"><section class="feature">
  <h3>Election Setup</h3>
  <p>Edit election details.</p>
</section></a> <a href="@Url.Action("ImportExport", "Setup")"><section class="feature">
  <h3>Import/Export</h3>
  <p>Import/edit people.</p>
</section></a> <a href="@Url.Action("People", "Setup")"><section class="feature">
  <h3>Names Management</h3>
  <p>Edit people's names. </p>
</section></a> <a href="@Url.Action("FrontDesk", "Before")"><section class="feature">
  <h3>Front Desk</h3>
  <p>Welcome voters to the election venue. Record who is participating in the election.
  </p>
</section></a> <a href="@Url.Action("Index", "Ballots")"><section class="feature">
  <h3>Enter Ballots</h3>
  <p>Type in the names found on ballots. </p>
</section></a> <a href="@Url.Action("Monitor", "After")"><section class="feature">
  <h3>Monitor</h3>
  <p>Centrally monitor progress of tellers.</p>
</section></a> <a href="@Url.Action("Analyze", "After")"><section class="feature">
  <h3>Analyze Results</h3>
  <p>Review results, checking for ties. </p>
</section></a> <a href="@Url.Action("Reports", "After")"><section class="feature">
  <h3>Generate Reports</h3>
  <p>Generate Election Reports </p>
</section></a> <a href="@Url.Action("Presenter", "After")"><section class="feature">
  <h3>Present Results</h3>
  <p>Display results of the election. </p>
</section></a> <a href="@Url.Action("Learning", "Public")"><section class="feature"><h3>Reference
  Materials</h3>
  <p>Read more about Bahá’í elections, the job of tellers, and how TallyJ works.</p>
</section></a> </section>
