@using TallyJ.Code.Enumerations
@using TallyJ.Code.Resources
@using TallyJ.Code.Session
@using TallyJ.EF
@model IBallotModel
@{
  ViewBag.Title = "Ballots";
  ViewBag.Message = "Tally the votes";

  ContextItems.AddJavascriptForPage("ballotNormalPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("ballotNormalPage.peopleUrl={0};".FilledWith(@Url.Action("Index", "People").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("ballotNormalPage.invalidReasons={0};".FilledWith(IneligibleReasonEnum.InvalidReasonsJsonString()));
  ContextItems.AddJavascriptForPage("ballotNormalPage.BallotInfo={0};".FilledWith(Model.CurrentBallotInfo().SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("ballotNormalPage.Ballots={0};".FilledWith(Model.CurrentBallotsInfoList().SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("ballotNormalPage.BallotStatus={0};".FilledWith(BallotStatusEnum.Listing.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("ballotNormalPage.Location={0};".FilledWith(ContextItems.LocationModel.CurrentBallotLocationJsonString()));
  ContextItems.AddJavascriptForPage("ballotNormalPage.HasLocations={0};".FilledWith(ContextItems.LocationModel.HasLocations.SerializedAsJsonString()));

  TemplateLoader.RequireTemplates(TemplateLoader.File.NormalVoteLine);

}
<script src="@ClientFile("~/Scripts/PeopleHelper.js")" type="text/javascript"></script>
<div class="PullInstructions">
  <ol>
    <li>Each paper ballot needs to be recorded here.</li>
    <li>The Ballot is automatically saved as Votes are added to it.</li>
    <li>Duplicate names will be noticed and marked.</li>
    @if (ContextItems.LocationModel.HasLocations)
    {
      <li>
        Be sure to update the Location Status to indicate the status of
        your counting process, and the Contact Info in case the head teller needs to contact
        you.
      </li>
    }
  </ol>
</div>
<div class="float-left div1">
  <div id="accordion">
    @if (ContextItems.LocationModel.HasLocations)
    {
      <h3>Location Status</h3>
      <div class="locationInfo">
        <div>
          <select id="ddlLocationStatus" data-name="TallyStatusCode" size="@LocationStatusEnum.Count">
            @LocationStatusEnum.ForHtmlSelect(UserSession.CurrentLocation.TallyStatus)
          </select>
        </div>
        <div class="heading">
          Contact Info:
        </div>
        <div>
          <input id="txtContact" class="txtContact" maxlength="250" data-name="ContactInfo" />
        </div>
      </div>
    }
    <h3><span>Ballots<span id="collectedVsEnteredTitle"></span></span></h3>
    <div id="tabBallots" class="locationInfo">
      <div class="float-right">
        <button type="button" id="btnRefreshBallotList" class="btn btn-mini">
          Refresh
        </button>
      </div>
      <div class="ballotDiv1">
        Ballots to enter:
        <input id="txtNumCollected" type="number" min="0" data-name="BallotsCollected" class="txtNumCollected" />
      </div>
      <button id="btnNewBallot2" class="NewBallotBtns btn btn-mini btn-success float-right" accesskey="N">
        Start <u>N</u>ew Ballot
      </button>
      <div>
        Ballots entered (<span id="showingWhat"></span>): <span id="lblNumEntered" class="lblNumEntered"></span>
      </div>
      <select id="ballotFilter">
        <option value="">Show All</option>
        @foreach (var code in new BallotCacher().AllForThisElection.Select(b => b.ComputerCode).Distinct().OrderBy(s => s))
        {
          <option @(UserSession.CurrentBallotFilter == code ? " selected" : "")>@code</option>
        }
      </select>
      <h5>
        Ballots
        @if (ContextItems.LocationModel.HasLocations)
        {
          <span class="where">
            <span>-</span> <span data-name="Name"></span>
          </span>
        }

      </h5>
      <div id="ballotList" class="ballotList">
      </div>
    </div>
    <h3><span>Add to Ballot <span class="ballotCode"></span></span></h3>
    <div id="tabNameSearch">
      <div class="action float-right">
        <span id="action"></span><span id="more"></span>
      </div>
      <div class="heading">
        Add votes to Ballot # <span class="ballotCode"></span>
      </div>
      <div>
        Search for a <u>p</u>erson:
      </div>
      <div class="float-right">
        @*<span class="ui-icon ui-icon-info float-right" id="qTipMissing"></span>
          <button id="btnAddMissing" type="button" tabindex="2" accesskey="M" class="btn btn-mini btn-info">
            Add na<u>m</u>e not in list</button>*@
        <span class="ui-icon ui-icon-info float-right Clear" id="qTipSpoiled"></span>
        <button id="btnAddSpoiled" type="button" tabindex="3" accesskey="L" class="btn btn-mini btn-warn spoiledBtn float-right">
          Add a spoi<u>l</u>ed vote
        </button>
      </div>
      <div class="float-left">
        <input id="txtSearch" accesskey="P" tabindex="1" autocomplete="off" class="input-medium">
      </div>
      <div class="actionHolder Clear">
        <div class="tip1">
          Use &uarr; &darr; keys to move in the list. Press Enter to add.
        </div>
      </div>
      <ul id="nameList" class="nameList"></ul>
      <div class="Clear5">
      </div>
    </div>
  </div>
</div>
<div id="votesPanel" class="votesPanel">
  <div class="titleDiv">
    <div class="float-right">
      <span class="ballotStatus"></span>Ballot #<span class="ballotCode"></span>
    </div>
    <span class="VoteNum">#</span> Names on the ballot
  </div>
  <div id="votesList">
  </div>
  <button type="button" id="btnNewBallot" class="NewBallotBtns btn btn-mini btn-success"
          accesskey="N" tabindex="2">
    Start <u>N</u>ew Ballot
  </button>
  <button type="button" id="btnRefreshBallot" class="btn btn-mini" title="Reload this ballot. Only needed if ballot status or vote lines and numbers appear to be wrong.">
    Clean Up Ballot
  </button>
  <button type="button" id="btnDeleteBallot" disabled class="btn btn-mini" title="Delete after all votes have been deleted">
    Delete this empty ballot
  </button>
  <div class="review">
    <label for="cbReview">
      If this ballot needs review by the head teller, tick here
    </label><input type="checkbox" id="cbReview" />
  </div>
</div>
<div id="addMissingPanel" class="votesPanel">
  <h3>
    Adding Name Not in List
    <button id="btnCancelAddMissing" type="button" class="btn btn-mini btn-warning">
      Cancel
    </button>
  </h3>
  @{ Html.RenderPartial("~/Views/Setup/EditPerson.cshtml", new SetupModel()); }
</div>
