@using TallyJ.Code.Enumerations
@using TallyJ.Code.Session
@model ResultsModel
@{
    ViewBag.Title = "Election Analysis";
    ViewBag.Message = "Review the results";

    ContextItems.AddJavascriptForPage("pageUrl", "analyzePage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));

    ContextItems.AddJavascriptForPage("results", "analyzePage.results={0};".FilledWith(Model.GetCurrentResultsIfAvailable().SerializedAsJsonString()));
}
<script src="@Url.Content("~/Scripts/highcharts/highcharts.js")"></script>
<script src="@Url.Content("~/Scripts/highcharts/themes/dark-green.js")"></script>
<button type="button" id="btnRefresh">
    Re-run Analysis</button>
<div id="InitialMsg">
    Analyzing all ballots...
</div>
<div class="LeftHalf">
@*    <div class="float-left">
        <b>Election Status</b> (set by head teller)<br />
        <select id="ddlElectionStatus" size="@ElectionTallyStatusEnum.Count">
            @ElectionTallyStatusEnum.ForHtmlSelect(UserSession.CurrentElection.TallyStatus)
        </select>
        @*    <input type="checkbox" id="chkShowAll" @(UserSession.CurrentElection.ShowFullReport.AsBool() ? " checked" : "")>
    <label for="chkShowAll">
        Show "full report" with all votes on report screens?</label>* @
    </div>*@
    <table id="totalCounts" class="float-left">
        <caption>
            Counts</caption>
        <tr>
            <td>
                Total Voters
            </td>
            <td>
                <span data-name="NumVoted"></span>
            </td>
        </tr>
        <tr>
            <td>
                Total Ballots Entered
            </td>
            <td>
                <span data-name="NumBallots"></span>
            </td>
        </tr>
        <tr>
            <td>
                Total Spoiled Ballots
            </td>
            <td>
                <span data-name="TotalInvalidBallots"></span>
            </td>
        </tr>
        <tr>
            <td>
                Total Spoiled Votes
            </td>
            <td>
                <span data-name="TotalInvalidVotes"></span>
            </td>
        </tr>
    </table>
    <div class="Clear">
    </div>
    <table class="Main">
        <caption>
            Full Voting Results</caption>
        <thead>
            <tr>
                <th>
                    Rank
                </th>
                <th>
                    Person
                </th>
                <th>
                    Votes
                </th>
                <th>
                    Close?
                </th>
                <th>
                    Tied?
                </th>
            </tr>
        </thead>
        <tbody id="mainBody">
            <tr class="{ClassName}">
                <td>
                  {Rank}
                </td>
                <td class="Left">
                    {PersonName}
                  <div class="ChartLine" data-value="{VoteCount}" data-tieValue="{TieBreakCount}"></div>
                </td>
                <td>
                    {VoteDisplay}
                </td>
                <td>
                    {^CloseUpDown}
                </td>
                <td>
                    {TieVote}
                </td>
            </tr>
        </tbody>
    </table>
    <table id="invalids">
        <caption>
            These ballots need attention before results can be determined</caption>
        <tbody id="invalidsBody">
            <tr>
                <td>
                    {^Ballot} - {Status}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="RightHalf">
    <table id="HasCloseVote">
        <caption>
            Review Needed</caption>
        <tr>
            <td>
                Some results are very close to a <span>tie</span><span class="HasTie">, or are actually
                    tied</span>. A careful review is recommended to ensure that each of the ballots
                has been entered correctly. If there are still tied votes after a review, then a
                tie-break vote may be required, as described below.
            </td>
        </tr>
    </table>
    <table id="tieResults">
        <caption>
            Tie Analysis</caption>
        <tbody id="tieResultsBody">
            <tr class="{rowClass}">
                <td class="TieBreakGroup">
                    {^TieBreakGroup}
                </td>
                <td>
                    {^Conclusion} {^People} {^Buttons}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="chart">
    </div>
</div>
