@using TallyJ.Code.Enumerations
@using TallyJ.Code.Session
@model ResultsModel
@{
    ViewBag.Title = "Election Analysis";
    ViewBag.Message = "Review the results";

    ContextItems.AddJavascriptForPage("pageUrl", "analyzePage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));

    ContextItems.AddJavascriptForPage("results", "analyzePage.results={0};".FilledWith(Model.GetCurrentResultsIfAvailable().SerializedAsJsonString()));
}
<script src="@Url.Content("~/Scripts/highcharts/highcharts.js")"></script>
<script src="@Url.Content("~/Scripts/highcharts/themes/dark-green.js")"></script>
<button type="button" id="btnRefresh">
    Re-run Analysis</button>
<div style="padding-bottom: 15px;">
    Election Status:<br/>
  <select id="ddlElectionStatus" size="@ElectionTallyStatusEnum.Count">
    @ElectionTallyStatusEnum.ForHtmlSelect(UserSession.CurrentElection.TallyStatus)
  </select>
  <input type="checkbox" id="chkShowAll" @(UserSession.CurrentElection.ShowFullReport.AsBool() ? " checked" : "")> <label for="chkShowAll">Show "full report" with all votes on report screens?</label>
</div>
<div id="chart">
</div>
<div id="InitialMsg">
  Analyzing all ballots...
</div>
<table class="Main">
    <caption>
        Full Voting Results</caption>
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Person
            </th>
            <th>
                Votes
            </th>
            <th>
                Tie-Vote?
            </th>
        </tr>
    </thead>
    <tbody id="mainBody">
        <tr class="{ClassName}">
            <td>
                {Rank}
            </td>
            <td class="Left">
                {PersonName}
            </td>
            <td>
                {VoteCount}
            </td>
            <td>
                {TieVote}
            </td>
        </tr>
    </tbody>
    <tfoot id="mainFoot">
        <tr class="{ClassName}">
            <th>
                {PersonName}
            </th>
            <td>
                {VoteCount}
            </td>
            <td>
                {Rank}
            </td>
            <td>
                {TieVote}
            </td>
        </tr>
    </tfoot>
</table>
<table id="invalids">
    <caption>
        Ballots Requiring Review</caption>
    <tbody id="invalidsBody">
        <tr>
            <td>
                {Ballot}
            </td>
        </tr>
    </tbody>
</table>
<table id="totalCounts">
    <caption>
        Total Counts</caption>
    <tr>
        <td>
            Total Ballots Entered
        </td>
        <td>
            <span data-name="NumBallots"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Invalid Ballots
        </td>
        <td>
            <span data-name="TotalInvalidBallots"></span>
        </td>
    </tr>
    <tr>
        <td>
            Total Invalid Votes
        </td>
        <td>
            <span data-name="TotalInvalidVotes"></span>
        </td>
    </tr>
</table>
