@using TallyJ.Code.Enumerations
@using TallyJ.Code
@using TallyJ.Code.Session
@using TallyJ.EF
@using TallyJ.CoreModels

@{
  Layout = null;
  var ballots = new BallotCacher().AllForThisElection;
  var locations = new LocationCacher().AllForThisElection;
  var election = UserSession.CurrentElection;
  var isSingleNameElection = election.IsSingleNameElection;

  var data = ballots
    .OrderBy(b =>
    {
      var location = locations.FirstOrDefault(l => l.LocationGuid == b.LocationGuid);
      return location == null ? "" : location.Name;
    })
    .ThenBy(b => b.ComputerCode)
    .ThenBy(b => b.BallotNumAtComputer)
    .Select(b =>
    {
      var location = locations.FirstOrDefault(l => l.LocationGuid == b.LocationGuid);
      var locName = locations.Count > 1 && location != null ? location.Name : "";
      return new
      {
        C_BallotCode = locName.HasContent() ? locName + " " + b.C_BallotCode : b.C_BallotCode,
        b.StatusCode,
        Spoiled = b.StatusCode != BallotStatusEnum.Ok,
        Votes = BallotModelCore.VoteInfosForBallot(b)
          .OrderBy(v => isSingleNameElection ? v.PersonFullNameFL : v.PositionOnBallot.ToString("0000"))
          .Select(v => new
          {
            v.PersonFullNameFL,
            v.SingleNameElectionCount,
            Spoiled = v.VoteStatusCode != VoteHelper.VoteStatusCode.Ok,
            VoteInvalidReasonDesc =
              IneligibleReasonEnum.DescriptionFor(
                v.VoteIneligibleReasonGuid.AsGuid()).
                SurroundContentWith("[", "]")
          })
      };
    })
    .OrderBy(x => x.C_BallotCode);
}
<table class="Ballots">
  @foreach (var ballot in data)
  {
    <tr class="Ballot">
      <td>@ballot.C_BallotCode (@ballot.StatusCode)</td>
      <td>
        @foreach (var vote in ballot.Votes)
        {
          <span class="Vote VoteSpoiled@(vote.Spoiled.ToString())">
            <span class="Person">@vote.PersonFullNameFL</span><span class="Invalid">@vote.VoteInvalidReasonDesc</span>@if (isSingleNameElection)
            {<span class="Count"> @@ @vote.SingleNameElectionCount</span>}<span>; &nbsp;</span>
          </span>
        }
      </td>
    </tr>
  }
</table>