@using TallyJ.Code.Enumerations
@using TallyJ.Code.Session
@model MonitorModel
@{
  ViewBag.Title = "Election Monitor";
  ViewBag.Message = "What's Happening?";

  if (UserSession.EnableOnlineElections)
  {
    ViewData["ExtraScripts"] = new[]
    {
      ClientFile("~/Scripts/vue{0}.js", ".min"),
      ClientFile("~/Scripts/luxon.min.js"),
      ClientFile("~/Scripts/vue-datetime.js"),
    };
    ViewData["ExtraCss"] = new[]
    {
      ClientFile("~/Scripts/vue-datetime.css"),
    };
  }

  ContextItems.AddJavascriptForPage("url", "monitorPage.beforeUrl={0};".FilledWith(Url.Action("Index", "Before").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("pageUrl", "monitorPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("locations", "monitorPage.initial={0};".FilledWith(Model.MonitorInfoJson));
  ContextItems.AddJavascriptForPage("guest", "monitorPage.isGuest={0};".FilledWith(UserSession.IsGuestTeller.SerializedAsJsonString()));
  ContextItems.AddJavascriptForPage("monitorPage.T24={0};".FilledWith(UserSession.CurrentElection.T24.SerializedAsJsonString()));
}
<table class="Main">
  <thead>
    <tr>
      <th rowspan="2">
        Location
      </th>
      <th colspan="3">
        Ballots
      </th>
      <th rowspan="2">
        Status
      </th>
      <th rowspan="2">
        @(UserSession.CurrentElection.IsSingleNameElection ? "Groups" : "Computers")
      </th>
      <th rowspan="2">
        Contact Info
      </th>
    </tr>
    <tr>
      <th>
        %
      </th>
      <th>
        Counted
      </th>
      <th>
        Entered
      </th>
    </tr>
  </thead>
  <tbody id="mainBody" class="Hidden tbody">
    <tr>
      <th>
        {^Name}
      </th>
      <td>
        {^BallotsReport}
      </td>
      <td>
        {^BallotsCollected}
      </td>
      <td>
        {^BallotsAtLocation} {^Btn}
      </td>
      <td>
        {^TallyStatus}
      </td>
      <td>
        {^ComputerList}
      </td>
      <td>
        {^ContactInfo}
      </td>
    </tr>
    <tr>
      <td>
        {ComputerCode}
      </td>
      <td>
        {BallotsAtComputer}
      </td>
      <td>
        {^TellerInfo}
      </td>
    </tr>
  </tbody>
</table>
<table class="Ballots">
  <thead>
    <tr>
      <th>
        Ballot
      </th>
      <th>
        Status
      </th>
      <th>
        Tellers
      </th>
      <th>
        Location
      </th>
    </tr>
  </thead>
  <tbody id="ballotsBody" class="Hidden tbody">
    <tr>
      <th>
        {Code} {^Btn}
      </th>
      <td>
        {Status}
      </td>
      <td>
        {Tellers}
      </td>
      <td>
        {LocationName}
      </td>
    </tr>
  </tbody>
</table>
<div style="padding-top: 15px;">
  @*<div class="float-left">
        Election Status:<br/>
        <select id="ddlElectionStatus" size="@ElectionTallyStatusEnum.Count">
            @ElectionTallyStatusEnum.ForHtmlSelect(UserSession.CurrentElection.TallyStatus)
        </select>
    </div>*@
  <p class="AutoButtons">
    <input type="checkbox" id="chkAutoRefresh" />
    <label for="chkAutoRefresh">Auto-refresh this list every </label>
    <select id="ddlRefresh" class="input-medium">
      <option value="15">15 seconds</option>
      <option value="30">30 seconds</option>
      <option value="60">minute</option>
      <option value="120">2 minutes</option>
    </select>
    <button type="button" class="btn btn-mini" id="btnRefesh" accesskey="R">
      <u>R</u>efresh Now
    </button>
    <span id="lastRefreshArea">
      Refreshed at <span id="lastRefresh"></span>
      <span class="countdownOuter">
        <span class="countdown"></span>
      </span>
    </span>
  </p>
  @if (UserSession.IsKnownTeller)
  {
    <p>
      <input type="checkbox" id="chkList" @(UserSession.CurrentElection.ListForPublic.AsBoolean() ? " checked" : "") />
      <label for="chkList">
        Open this election to allow other tellers to participate.
        Teller access code is: <span class="publicInfo">@UserSession.CurrentElection.ElectionPasscode.DefaultTo("?")</span>
        @if (UserSession.CurrentElection.ElectionPasscode.HasNoContent())
        {
          <span class="warning">(Code must first be set on the <a href="../Setup#step2">Configure page</a>.)</span>
        }
      </label>
    </p>
  }

  @if (UserSession.EnableOnlineElections)
  {
    <div id="onlineDiv" v-cloak>
      <h2>Online Voting</h2>
      <p class="closeStatus" v-bind:class="closeStatusClass"><strong>Close time is {{CloseTime_Display}}</strong></p>
      <p>
        Online voting close time
        <datetime v-model="CloseTime" v-on:input="saveClose" type="datetime" :minute-step="10" :use12-hour="T24"></datetime>
        Estimated time? <yes-no v-on:input="saveClose" v-model="election.OnlineCloseIsEstimate"></yes-no>
      </p>
      <p>
        <button v-on:click="closeOnline(5)">Close in 5 minutes.</button>
        <button v-on:click="closeOnline(0)">Close now.</button>
      </p>

      <p>
        Allow voters to view final results when they are available?
        <yes-no v-model="election.OnlineAllowResultView"></yes-no>
      </p>
      <h3>Known Voters</h3>
      <p>
        <input type="button" 
               v-on:click="processReadyBallots"
               v-bind:disabled="!(onlineToProcess && OnlineWhenClose_M.isBefore())"
               value='Process all "Ready" ballots'>
        <em v-if="!(onlineToProcess && OnlineWhenClose_M.isBefore())">Can process after Online voting is closed.</em>
      </p>
      <table class="OnlineBallots">
        <thead>
          <tr>
            <th>
              Registered for<br>Online Voting
            </th>
            <th>
              Voting Method
            </th>
            <th>
              Online Ballot<br/>Status
            </th>
            <th>
              Status Time
            </th>
          </tr>
        </thead>
        <tbody id="onlineBallotsBody" class="Hidden tbody">
          <tr>
            <td class="OnlineName">
              {C_FullNameFL}
            </td>
            <td>
              {VotingMethod_Display}
            </td>
            <td>
              {Status}
            </td>
            <td title="{History_Tip}">
              {WhenStatus_Display}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  }
</div>



<script type="text/x-template" id="yes-no">
  <span class="YN" v-bind:class="['YN' + yesNo, disabled ? 'disabled' : '']">
    <label>
      <input type="radio" value="Y" v-model="yesNo" :disabled="disabled">
      {{yes}}
    </label>
    <label>
      <input type="radio" value="N" v-model="yesNo" :disabled="disabled">
      {{no}}
    </label>
  </span>
</script>
