@using TallyJ.Code.Enumerations
@using TallyJ.Code.Session
@model MonitorModel
@{
  ViewBag.Title = "Election Monitor";
  ViewBag.Message = "What's Happening?";

  ContextItems.AddJavascriptForPage("pageUrl", "monitorPage.controllerUrl={0};".FilledWith(Url.Action("Index").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("locations", "monitorPage.LocationInfos={0};".FilledWith(Model.LocationInfoJson));
  ContextItems.AddJavascriptForPage("guest", "monitorPage.isGuest={0};".FilledWith(UserSession.IsGuestTeller.SerializedAsJsonString()));
}
<table class="Main">
  <thead>
    <tr>
      <th rowspan="2">
        Location
      </th>
      <th colspan="3">
        Ballots
      </th>
      <th rowspan="2">
        Status
      </th>
      @*<th rowspan="2">
          @(UserSession.CurrentElection.IsSingleNameElection ? "Group" : "Computer")
        </th>*@
      @*<th>
          Ballots
        </th>
        <th>
          Minutes Ago
        </th>
        <th>
          Tellers
        </th>*@
      <th rowspan="2">
        @(UserSession.CurrentElection.IsSingleNameElection ? "Groups" : "Computers")
      </th>
      <th rowspan="2">
        Contact Info
      </th>
    </tr>
    <tr>
      <th>
        %
      </th>
      <th>
        Counted
      </th>
      <th>
        Entered
      </th>
    </tr>
  </thead>
  <tbody id="mainBody" class="Hidden">
    <tr>
      <th>
        {^Name}
      </th>
      <td>
        {^BallotsReport}
      </td>
      <td>
        {^BallotsCollected}
      </td>
      <td>
        {^BallotsAtLocation} {^Btn}
      </td>
      <td>
        {^TallyStatus}
      </td>
      <td>
        {^ComputerList}
      </td>
      <td>
        {^ContactInfo}
      </td>
    </tr>
    <tr>
      <td>
        {ComputerCode}
      </td>
      <td>
        {BallotsAtComputer}
      </td>
      <td>
        {^TellerInfo}
      </td>
    </tr>
  </tbody>
</table>
<table class="Ballots">
  <thead>
    <tr>
      <th>
        Ballot
      </th>
      <th>
        Status
      </th>
      <th>
        Tellers
      </th>
      <th>
        Location
      </th>
    </tr>
  </thead>
  <tbody id="ballotsBody" class="Hidden">
    <tr>
      <th>
        {Code} {^Btn}
      </th>
      <td>
        {Status}
      </td>
      <td>
        {Tellers}
      </td>
      <td>
        {LocationName}
      </td>
    </tr>
  </tbody>
</table>
<div style="padding-top: 15px;">
  @*<div class="float-left">
        Election Status:<br/>
        <select id="ddlElectionStatus" size="@ElectionTallyStatusEnum.Count">
            @ElectionTallyStatusEnum.ForHtmlSelect(UserSession.CurrentElection.TallyStatus)
        </select>
    </div>*@
  <div class="AutoButtons">
    <input type="checkbox" id="chkAutoRefresh" />
    <label for="chkAutoRefresh">Auto-refresh monitor listing every </label>
    <select id="ddlRefresh" class="input-medium">
      <option value="10">10 seconds</option>
      <option value="15">20 seconds</option>
      <option value="30">30 seconds</option>
      <option value="60">minute</option>
      <option value="120">2 minutes</option>
    </select>
    <button type="button" class="btn btn-mini" id="btnRefesh" accesskey="R">
      <u>R</u>efresh Now
    </button>
    Last Refresh at <span id="lastRefresh"></span>
  </div>
  @if (UserSession.IsKnownTeller)
  {
    <div>
      <input type="checkbox" id="chkList" @(UserSession.CurrentElection.ListForPublic.AsBoolean() ? " checked" : "") />
      <label for="chkList">
        Allow tellers to join this election with the <span class="publicInfo" title="Access code: @UserSession.CurrentElection.ElectionPasscode">access code</span>.@*: <span class="AccessCode">@UserSession.CurrentElection.ElectionPasscode</span>)*@
      </label>
    </div>
  }
  <div class="Clear">
  </div>
</div>
