@using TallyJ.Code.Session
@model ChangePasswordModel

@{
  ViewBag.Title = "Change Password";
}
@section featured {
    <section class="featured empty">
    </section>
}

<hgroup class="title">
  <h1>Change Password.</h1>
  <h2>Use the form below to change your password.</h2>
</hgroup>

<p class="message-info">
  New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {action = Url.Action("ChangePassword", "Account")}))
{
  <fieldset>
    <legend>Change Password Form</legend>
    <ol>
      <li>
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)
        @Html.ValidationMessageFor(m => m.OldPassword)
      </li>
      <li>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword)
      </li>
      <li>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
      </li>
    </ol>
    <input type="submit" value="Change Password" title="Change password" />
  </fieldset>
}
