@using TallyJ.Code.Session
@model LogOnModel

@{
  ViewBag.Title = "Log On";
  if (ViewContext.FormContext == null)
  {
    ViewContext.FormContext = new FormContext();
  }
}
@section featured {
  <section class="featured empty"></section>
}

<hgroup class="title">
  <h2>Log On.</h2>
  <h4>Enter your account name and password below.</h4>
</hgroup>
<p>
  If you don't have an account, please @Html.ActionLink("register", "Register", "Account", null, new { @class = "normal" }).
</p>


@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new
{
  action = Url.Action("LogOn", "Account")
}))
{ // (string)ViewBag.FormAction
  <fieldset>
    <legend>Log On Form</legend>
    <ol>
      <li>
        @Html.LabelFor(m => m.UserName, "Account Name")
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
      </li>
      <li>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
      </li>
      <li>
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
      </li>
    </ol>
    <input type="submit" value="Log In" class="btn btn-success" />
  </fieldset>
}
