@using TallyJ.Code.Session
@model LogOnModelV1

@{
  ViewBag.Title = "Log On";
  if (ViewContext.FormContext == null)
  {
    ViewContext.FormContext = new FormContext();
  }
}
@section featured {
  <section class="featured empty"></section>
}

@*<hgroup class="title">
  <h2>Log In.</h2>
</hgroup>*@
<p>
  This account can be used by the head teller and assistant head tellers simultaneously on multiple computers.
</p>


@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new
{
  action = Url.Action("LogOn", "Account"),
  name = "v1"
}))
{ // (string)ViewBag.FormAction
  <fieldset>
    <div>
      <div>
        @Html.LabelFor(m => m.UserName, "Admin Login ID (not your email address!)")
        @Html.TextBoxFor(m => m.UserName, "", new { autocomplete = "username" })
        @Html.ValidationMessageFor(m => m.UserName)
      </div>
      <div>
        @Html.LabelFor(m => m.PasswordV1)
        @Html.PasswordFor(m => m.PasswordV1, new { autocomplete = "passwordV1" })
        @Html.ValidationMessageFor(m => m.PasswordV1)
      </div>
    </div>
    <input type="submit" value="Log In" onclick="lookBusy" class="btn btn-success" />
  </fieldset>
}

<p>
  If you do not have an admin account yet, please @Html.ActionLink("register", "Register", "Account", null, new { @class = "normal" }).
</p>
