@using TallyJ.Code.Session
@model LogOnModel

@{
  ViewBag.Title = "Log On";
  if (ViewContext.FormContext == null)
  {
    ViewContext.FormContext = new FormContext();
  }
}
@section featured {
  <section class="featured empty"></section>
}

<hgroup class="title">
  <h2>Log In.</h2>
</hgroup>
<p>
  Log in as the head teller or an assistant head teller.
</p><p>
  The same login ID can be used on multiple computers.
  If you do not have a head teller account yet, please @Html.ActionLink("register", "Register", "Account", null, new { @class = "normal" }).
</p>


@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new
{
  action = Url.Action("LogOn", "Account")
}))
{ // (string)ViewBag.FormAction
  <fieldset>
    <legend>Log On Form</legend>
    <div>
      <div>
        @Html.LabelFor(m => m.UserName, "Login ID (not email)")
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
      </div>
      <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
      </div>
    </div>
    <input type="submit" value="Log In" onclick="lookBusy" class="btn btn-success" />
  </fieldset>
}
