@using TallyJ.Code.Session
@model RegisterModel
@{
    ViewBag.Title = "Register";
}
@section featured {
    <section class="featured empty">
    </section>
}
<hgroup class="title">
    <h1>Register.</h1>
    <h2>Use the form below to create a new account.</h2>
</hgroup>
@*<p class="message-info">
    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength
    characters in length.
</p>*@
@Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { action = Url.Action((string)ViewBag.FormAction, "Account") }))
{
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                <div class="withTip">
                    @Html.LabelFor(m => m.UserName, "Account Name")
                    <span class="ui-icon ui-icon-info" id="qTipReg1"></span>
                </div>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                <div class="withTip">
                    @Html.LabelFor(m => m.Email)
                    <span class="ui-icon ui-icon-info" id="qTipReg2"></span>
                </div>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                <div class="withTip">
                    @Html.LabelFor(m => m.Password)
                    <span class="ui-icon ui-icon-info" id="qTipReg3"></span>
                </div>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
            <li>
                <input type="submit" value="Register" title="Register" class="btn btn-primary" />

            </li>
        </ol>
    </fieldset>
}