@using System.Configuration
@{
    ViewBag.Title = "About TallyJ";
    ViewBag.Message = "Where we've been. Where we're going";
}
@section featured {
    <section class="featured empty">
    </section>
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>
  <p>
    TallyJ has been around since 2002, helping with elections every year since then.
  </p>
  <p>
    This web version of TallyJ, version 2, was first available for use in December 2011
    for Assembly by-elections and now supports all types of Bahá'í elections.
  </p>
  <p>
    You can read more on the
    <a href="http://www.facebook.com/TallyJ.Support" target="facebook">Facebook TallyJ Support</a> page,
    especially in a series of <a href="http://www.facebook.com/TallyJ.Support" target="facebook">Notes</a> there.
</p>
</article>
@*<aside>
    <h3>
        Aside Title</h3>
    <p>
        Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam mi augue,
        posuere at tempus vel, dignissim vitae nulla.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
        <li>@Html.ActionLink("About", "About", "Dashboard")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Dashboard")</li>
    </ul>
</aside>*@