@using Microsoft.Owin.Security
@using TallyJ.Code.Session
@model TallyJ.CoreModels.Account2Models.LoginViewModel
@{
  ViewBag.OnWelcome = true;
  ViewBag.Title = "Bahá’í Election System";
  ViewBag.Caption = "Welcome";
  ViewBag.Message = "The election system for Bahá’í tellers";
  ViewBag.Metas = new[]{
""
}.JoinedAsString("");


  ContextItems.AddJavascriptForPage("pageUrl", "homeIndexPage.controllerUrl={0};".FilledWith((Url.Action("Index") + "Public/").QuotedForJavascript()));
  ContextItems.AddJavascriptForPage("dash", "homeIndexPage.dashBoardUrl={0};".FilledWith((Url.Action("Index", "Dashboard")).QuotedForJavascript()));
}
@section Metas {
  <link rel='canonical' href='https://www.tallyj.com/' />
  <meta name='description' content="TallyJ facilitates the recording of ballots and votes at a Bahá'í election." />
  <meta name='keywords' content="bahai,baha'i,Bahá’í,Bahá'í,Baha’i,Faith,election,ballot,tallyj,tally,tally ballots,tally votes,tally election,vote,local spiritual assembly,LSA,national spiritual assembly,NSA,unit convention,delegates,participate,mailed in,dropped off,absentee,teller, head teller,chief teller,tie-break,by election,bye election,bi-election,tied,next highest,roll call,front desk,reconcile,analyze,report,teller's report'" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.3.0/css/zocial.css">
}
<section class="features middle">
  <section class="featureBig CenterPanel">
    <div class="top">
    </div>
    <h2 id="introTitle">What would you like to do?</h2>
    <div class="centerbuttons">
      @if (SettingsHelper.HostSupportsOnlineElections)
      {
        <div class="centerL" title="Vote online in an election.">
          <button class="btn btn-warning" id="btnChooseVoter" accesskey="V">Vote Online</button>
        </div>
      }
      <div class="centerL" title="Assist with an election.">
        <button class="btn btn-primary" id="btnChooseJoin" accesskey="A">Assist as a Teller</button>
      </div>
      <div class="centerR"
           title="Create and manage elections. If you do not have an account yet, you can register here.">
        <button class="btn btn-success" id="btnChooseLogin" accesskey="M">Manage Elections</button>

      </div>
    </div>
  </section>
  <section class="featureBig JoinPanel">
    <div class="closer">
      <img src="~/Images/close.png" class="closer">
    </div>
    <div class="top">
    </div>
    <h2>Assist as a Teller</h2>
    <p>Join an election as a teller to assist in registering voters and tallying ballots.</p>
    @if (UserSession.IsKnownTeller || UserSession.IsGuestTeller)
    {
      <p class="AlreadyIn">
        You are still logged in!
      </p>
      <p class="AlreadyIn">
        Go to the
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Dashboard")'">Dashboard</button>
      </p>
      <p class="AlreadyIn">
        or
        <button type="button" class="btn" onclick="logoffSignalR(); location.href='@Url.Action("LogOff", "Account")'">Log out</button>
      </p>
    }
    else if (UserSession.IsVoter)
    {
      <p class="AlreadyIn">
        You are logged in as a voter.
        <br />
        To work as a teller, you must first log out.
      </p>
      <p class="AlreadyIn">
        Go to the
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Dashboard")'">Dashboard</button>
      </p>
      <p class="AlreadyIn">
        or
        <button type="button" class="btn" onclick="logoffSignalR(); location.href='@Url.Action("LogOff", "Account")'">Log out</button>
      </p>
    }
    else
    {
      <ol>
        <li>
          <p>
            Select your election:
            <button type="button" class="btn btn-small" id="btnRefresh">Refresh</button>
          </p>
          <div class="table">
            <select id="ddlElections" size="4"></select>
          </div>
        </li>
        <li>
          <p>
            Type in the access code you were given:
          </p>
          <div>
            <input id="txtPasscode" type="text" maxlength="50" />
          </div>
        </li>
        <li>
          <p>
            Join the election:
          </p>
          <button type="button" class="btn btn-primary" id="btnJoin">Join Now</button>
          @*<button type="button" id="btnJoin">
            Join Now</button>*@ <span id="joinStatus" class="idle"></span>
        </li>
      </ol>
    }
  </section>
  <section class="featureBig LoginPanel">
    <div class="closer">
      <img src="~/Images/close.png" alt="Close" class="closer">
    </div>
    <div class="top">
    </div>
    <h2>Manage Elections</h2>
    <p>Log in to create and administer elections for your community.</p>
    @if (UserSession.IsKnownTeller || UserSession.IsGuestTeller)
    {
      <p class="AlreadyIn">
        You are still logged in!
      </p>
      <p class="AlreadyIn">
        Go to the
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Dashboard")'">Dashboard</button>
      </p>
      <p class="AlreadyIn">
        or
        <button type="button" class="btn" onclick="logoffSignalR(); location.href='@Url.Action("LogOff", "Account")'">Log out</button>
      </p>
    }
    else if (UserSession.IsVoter)
    {
      <p class="AlreadyIn">
        You are logged in as a voter.
        <br />
        To administer your elections, you must first log out.
      </p>
      <p class="AlreadyIn">
        Go to the
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Dashboard")'">Dashboard</button>
      </p>
      <p class="AlreadyIn">
        or
        <button type="button" class="btn" onclick="logoffSignalR(); location.href='@Url.Action("LogOff", "Account")'">Log out</button>
      </p>
    }
    else
    {
      Html.RenderPartial("~/Views/Account/LogOn.cshtml", new LogOnModelV1());
    }
  </section>
  @if (SettingsHelper.HostSupportsOnlineElections)
  {
    <section class="featureBig VoterPanel">
      <div class="closer">
        <img src="~/Images/close.png" alt="Close" class="closer">
      </div>
      <div class="top">
      </div>
      <h2>Vote Online</h2>
      @if (UserSession.IsKnownTeller || UserSession.IsGuestTeller)
      {
        if (UserSession.IsKnownTeller)
        {
          <p class="AlreadyIn">
            You are logged in as an administrator.
          </p>
        }
        else
        {
          <p class="AlreadyIn">
            You are logged in as a teller.
          </p>
        }
        <p class="AlreadyIn">
          To vote in an election, you must log out and then log in as a voter.
        </p>
        <p class="AlreadyIn">
          Go to the
          <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Dashboard")'">Dashboard</button>
        </p>
        <p class="AlreadyIn">
          or
          <button type="button" class="btn" onclick="logoffSignalR(); location.href='@Url.Action("LogOff", "Account")'">Log out</button>
        </p>
      }
      else if (UserSession.IsVoter)
      {
        <p class="AlreadyIn">
          You are still logged in!
        </p>
        <p class="AlreadyIn">
          Go to the
          <button type="button" class="btn btn-success" onclick="location.href = '@Url.Action("Index", "Voter")'">Voter Page</button>
        </p>
        <p class="AlreadyIn">
          or
          <button type="button" class="btn" onclick="logoffSignalR();location.href = '@Url.Action("LogOff", "Account")'">Log out</button>
        </p>
      }
      else
      {
    <div>
      @{
        var msg = (string)Session[SessionKey.VoterLoginError];
        if (msg.HasContent())
        {
          Session.Remove(SessionKey.VoterLoginError);
          <div class="VoterLoginError">
            @msg.AsRawHtml()
          </div>
        }
        var loginTypes = Context.GetOwinContext()
          .Authentication
          .GetAuthenticationTypes()
          .Where(a => a.Caption.HasContent())
          .Select(a => a.Caption)
          .ToList();
      }

      @if (loginTypes.Count > 0)
      {
        <p>
          Log in with your @loginTypes.InSentence("or") account, or create and use a local account in TallyJ.
        </p>
      }
      else
      {
        <p>
          Log in with your TallyJ account.
        </p>
      }
      <p>
        TallyJ will list all the elections where your email address is on file.
      </p>

      <div class="voterLogins">
        @if (loginTypes.Count > 0)
        {
          <div id="socialLoginList">
            @using (Html.BeginForm("LogOnExt", "Account"))
            {
              @Html.AntiForgeryToken()
              foreach (var name in loginTypes)
              {
                if (name == "Google")
                {
                  <button type="submit"
                          class="authButton @name"
                          accesskey="G"
                          name="Provider"
                          value="@name"
                          title="Log in using your @name account">
                    <img src="@Url.Content("~/Images/google.png")">
                  </button>
                }
                else if (name == "Facebook")
                {
                  <button type="submit"
                          class="authButton @name"
                          accesskey="F"
                          name="Provider"
                          value="@name"
                          title="Log in using your @name account">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" class="logo" color="#fff">
                      <path fill="#fff" d="M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
          11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
          11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
          15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
          11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z"></path>
                    </svg>
                    <span>Log in With Facebook</span>
                  </button>
                }
                else
                {
                  @*<div>2 @name</div>*@
                }
              }
              <p class="externalNote">
                TallyJ will use the email address that is provided by @loginTypes.InSentence("or").
              </p>
              <div class="extPw">
                <p>
                  If you have added a TallyJ password for this email address, you must provide it here
                  when signing in. You can also use the panel to the right.
                </p>
                <input class="form-control" 
                       name="ExtPassword" 
                       type="password">
              </div>
            }
          </div>
          <span class="voterOr">
            or
          </span>
        }
        <div class="direct">
          @using (Html.BeginForm("LogOnLocal", "Account", FormMethod.Post, new {name = "v2"}))
          {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="email">
              Email address
              <div>
                @Html.EditorFor(m => m.Email, new {htmlAttributes = new {autocomplete = "email"}})
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
              </div>
            </div>
            <div class="pw">
              TallyJ Password
              <div>
                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
              </div>
            </div>
            <div class="submit">
              <button type="submit"
                      class="authButton"
                      accesskey="L"
                      name="Provider"
                      value="Local">
                Log in
              </button>
            </div>
            <div class="other">

              <div>
                @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account2")
              </div>

              <p>
                @Html.ActionLink("Create a TallyJ account", "Register", "Account2")
              </p>
            </div>
          }
        </div>
      </div>

      <p>
        By continuing, you agree to the <a target="privacy" href="@Url.Action("Privacy")">User Agreement and Privacy Policy</a>.
      </p>


    </div>
      }


    </section>
  }<div class="clear-fix">
  </div>
</section>
<div class="notes">
  <p>
    TallyJ is ready for use! Please send feedback to
    <a title="Send email to Glen"
       href="mailto:glen.little@gmail.com">Glen Little</a> and refer to the
    <a title="View document"
       href="https://docs.google.com/document/d/1GiapKWev6zJBN8q7upssJcId4dblNxrk-ErOmHgLczA/pub"
       target="gdoc">Status and Feedback</a> document for current updates!
  </p><p>
    Please note that TallyJ works best with current browsers, such as Chrome and Firefox.
  </p>
</div>

<section class="features bottom">
  <a href="@Url.Action("About")">
    <section class="feature">
      <h2>About TallyJ</h2>
      <p>
        Want to know more about the TallyJ tool?
      </p>
    </section>
  </a><a href="@Url.Action("Learning")">
    <section class="feature">
      <h2>Reference Materials</h2>
      <p>
        Read more about Bahá’í elections and the job of tellers.
      </p>
    </section>
  </a><a href="@Url.Action("Privacy")">
    <section class="feature">
      <h2>Policies & Agreements</h2>
      <p>
        Voter's Privacy Policy and User Agreement.
      </p>
    </section>
  </a><a href="@Url.Action("Contact")">
    <section class="feature">
      <h2>Contact</h2>
      <p>
        How to get in contact.
      </p>
    </section>
  </a><a href="@Url.Action("Install")">
    <section class="feature">
      <h2>Install for Local Use?</h2>
      <p>
        No access to the Internet when and where you will need to
        use TallyJ?
      </p>
    </section>
  </a>
</section>
<div class="Summary">
  TallyJ - the tool to assist tellers during Bah&aacute;'&iacute; elections
</div>
@if (false && Request.Url.Host != "localhost")
{
  <!-- Only on the home page, not on interior pages... -->
  <!-- Begin Inspectlet Embed Code -->
  <script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 140853088]);
    (function () {
      function __ldinsp() {
        var insp = document.createElement('script');
        insp.type = 'text/javascript';
        insp.async = true;
        insp.id = "inspsync";
        insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(insp, x);
      }

      if (window.attachEvent) {
        window.attachEvent('onload', __ldinsp);
      } else {
        window.addEventListener('load', __ldinsp, false);
      }
    })();
  </script>
  <!-- End Inspectlet Embed Code -->
}