@using TallyJ.Code.Session
@model PublicHomeViewModel
@{
    ViewBag.Title = "TallyJ";
    ViewBag.Caption = "Welcome";
    ViewBag.Message = "The election system for Bahá’í tellers";

    ContextItems.AddJavascriptForPage("pageUrl", "homeIndexPage.controllerUrl={0};".FilledWith((Url.Action("Index") + "Public/").QuotedForJavascript()));
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            @*            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
*@
            <div class="Intro">
                Allah'u'abh&aacute;! Welcome to TallyJ! This online tool is specifically designed
                to assist tellers during Bah&aacute;'&iacute; elections.
            </div>
        </div>
    </section>
}
<section class="features middle">
    <section class="featureBig JoinPanel">
        <div class="top">
        </div>
        <h3>
            Join an election as a teller</h3>
        <ol>
            <li>
                <p>
                    Select the election you are a teller for:</p>
                <div class="table">
                    <select id="ddlElections" size="4">
                        @Model.VisibleElectionsOptions()
                    </select>
                </div>
            </li>
            <li>
                <p>
                    Type in the access code you were given:</p>
                <div>
                    <input id="txtPasscode" type="password" maxlength="50" />
                </div>
            </li>
            <li>
                <p>
                    Join the election:</p>
                <input id="btnJoin" type="submit" value="Join Now" title="Join Now" />
                @*<button type="button" id="btnJoin">
                    Join Now</button>*@ <span id="joinStatus" class="idle"></span></li>
        </ol>
    </section>
    <section class="featureBig CenterPanel">
        <div class="top">
        </div>
        <h1 id="introTitle">
            Choose an Option!</h1>
        <div class="centerbuttons">
            <p style="position: absolute; left: 12px" id="startJoin" class="StartJoin qTip" title="You do not need to register, but will need to know the code for the election you are joining.">
                Join an Election as a Teller
            </p>
            <p style="position: absolute; width: 100%; text-align: center; top: 25px; z-index: 1">
                or
            </p>
            <p style="position: absolute; right: 13px" id="startLogin" class="StartJoin qTip"
                title="Create and manage an election. If you do not have an account yet, you can register here.">
                Log in to your Election
            </p>
        </div>
        <!--[if gt IE 6]>
        <div class="browser ie">
<![endif]-->
        <!--[if !IE]> -->
        <div class="browser">
            <!-- <![endif]-->
          Please note, TallyJ works best with Google Chrome.<br>Other browsers have not yet been tested.</div>
    </section>
    <section class="featureBig LoginPanel">
        <div class="top">
        </div>
        <h3>
            Log in to make an election or access your elections</h3>
        @if (Request.IsAuthenticated)
        {
            <p class="AlreadyIn">
                You are stilled logged in!</p>
            <p class="AlreadyIn">
                Go to the @Html.ActionLink("Dashboard", "Index", "Dashboard").</p>
        }
        else
        {
            Html.RenderPartial("~/Views/Account/LogOn.cshtml", new LogOnModel());
        }
    </section>
    <div class="clear-fix">
    </div>
</section>
<section class="features bottom">
    <a href="@Url.Action("Learning")">
        <section class="feature">
            <h3>
                Reference Materials</h3>
            <p>
                Read more about Bahá’í elections, the job of tellers, and how TallyJ works.</p>
        </section></a><a href="@Url.Action("Contact")"><section class="feature"><h3>
            Contact</h3>
            <p>
                How to get in contact.</p>
        </section></a> <a href="@Url.Action("About")">
            <section class="feature">
                <h3>
                    About TallyJ</h3>
                <p>
                    Want to know more about TallyJ?</p>
            </section></a> <a href="@Url.Action("Install")">
                <section class="feature">
                    <h3>
                        Install for Local Use?</h3>
                    <p>
                        For if you will not have access to the Internet when and where you will need to
                        use TallyJ.</p>
                </section></a>
</section>
<div class="Summary">
    TallyJ - the tool to assist tellers during Bah&aacute;'&iacute; elections</div>
