@using TallyJ.Code.Session
@model PublicHomeViewModel
@{
    ViewBag.Title = "TallyJ";
    ViewBag.Message = "The election system for Bahá’í tellers";

    ContextItems.AddJavascriptForPage("pageUrl", "homeIndexPage.controllerUrl={0};".FilledWith((Url.Action("Index") + "Public/").QuotedForJavascript()));
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Allah'u'abh&aacute;! Welcome to the online home of TallyJ! Have a look around!</p>
        </div>
    </section>
}
<section class="features">
    <section class="featureBig JoinPanel">
        <div class="top">
        </div>
        <h3>
            If you are a teller invited to join an election...</h3>
        <ol>
            <li>
                <p>
                    Select an active election or enter the election code:</p>
                <div class="table">
                  <div>
                    <span>Active Elections:</span>
                    <select id="ddlElections" size="4">
                      
                      @(Model.PublicElections
         .Select(x => "<option value=\"{0}\">{1}</option>".FilledWith(x.Key, x.Value))
         .JoinedAsString()
         .AsRawHtml())
                                     </select>
                  </div>
                  <div class="or">
                        or</div>
                  <div>
                    <span>Code:</span>
                    <input id="txtCode" maxlength="15" />
                  </div>
                </div>
            </li>
            <li>
                <p>
                    Enter your secret code for this election:</p>
                <div>
                    <input id="txtPasscode" type="password" maxlength="50" />
                </div>
            </li>
            <li>
                <p>
                    Join the election:</p>
                <button type="button" id="btnJoin">
                    Join Now</button>
                <span id="joinStatus" class="idle">Not requested</span> </li>
        </ol>
    </section>
    <section class="featureBig CenterPanel">
        <div class="top">
        </div>
        <h1>
            Ready to get started?</h1>
        <p style="float: left" id="startJoin" class="StartJoin">
            Join an Election as a Teller</p>
        <p style="float: right" id="startLogin" class="StartJoin">
            Login to your Account</p>
    </section>
    <section class="featureBig LoginPanel">
        <div class="top">
        </div>
        <h3>
            If you need to open or create an election...</h3>
        @if (Request.IsAuthenticated)
        {
            <p>
                You are currently logged in and can use the @Html.ActionLink("Dashboard", "Index", "Dashboard")
                for most operations.</p>
        }
        else
        {
            Html.RenderPartial("~/Views/Account/LogOn.cshtml", new LogOnModel());
        }
    </section>
    <div class="clear-fix">
    </div>
</section>
<section class="features">
    <a href="@Url.Action("Learning")">
        <section class="feature">
            <h3>
                Reference Materials</h3>
            <p>
                Read more about Bahá’í elections, the job of tellers, and how TallyJ works.</p>
        </section></a><a href="@Url.Action("Contact")"><section class="feature"><h3>
            Contact Us</h3>
            <p>
                How to get in contact.</p>
        </section></a> <a href="@Url.Action("About")">
            <section class="feature">
                <h3>
                    About TallyJ</h3>
                <p>
                    Want to know more about TallyJ?</p>
            </section></a> <a href="@Url.Action("Install")">
                <section class="feature">
                    <h3>
                        Install for Local Use</h3>
                    <p>
                        For if you will not have access to the Internet when and where you will need to
                        use TallyJ.</p>
                </section></a></section>
